@charset "UTF-8";

$puzzle-color: #777;

$puzzle-bg: rgba($puzzle-color, 0.1);
$puzzle-item-bg: rgba($puzzle-color, 0.2);
$puzzle-is-4-bg: rgba($puzzle-color, 0.3);
$puzzle-is-8-bg: rgba($puzzle-color, 0.4);
$puzzle-is-16-bg: rgba($puzzle-color, 0.5);
$puzzle-is-32-bg: rgba($puzzle-color, 0.6);
$puzzle-is-64-bg: rgba($puzzle-color, 0.7);
$puzzle-is-128-bg: rgba($puzzle-color, 0.8);
$puzzle-is-256-bg: rgba($puzzle-color, 0.9);
$puzzle-is-512-bg: rgba($puzzle-color, 1);
$puzzle-is-1024-bg: rgba($color-primary, 0.5);
$puzzle-is-2048-bg: rgba($color-primary, 1);

$puzzle-radius: rem-calc(4);
$puzzle-padding: rem-calc(10);

$puzzle-container-size: rem-calc(400);
$puzzle-tile-margin: 10;
$puzzle-tile-size: rem-calc(((400 - 10) / 4) - $puzzle-tile-margin);

.puzzle {

}

.puzzle--game-wrapper {
    width: $puzzle-container-size;
    height: $puzzle-container-size;
    margin: 0 auto;
    border-radius: $puzzle-radius;
    background: $puzzle-bg;
}

.puzzle--game {
    @include clearfix();
    padding: $puzzle-padding;
    margin-left: - rem-calc($puzzle-tile-margin);
    position: relative;
}

.puzzle--game--node {
    width: $puzzle-tile-size;
    height: $puzzle-tile-size;
    float: left;
    margin: 0 0 rem-calc($puzzle-tile-margin) rem-calc($puzzle-tile-margin);
    background: $puzzle-item-bg;
    border-radius: $puzzle-radius;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.puzzle--game--tiles {
    position: absolute;
    width: $puzzle-container-size - rem-calc(20);
    height: $puzzle-container-size - rem-calc(20);
}

.puzzle--game--tiles--item {
    width: $puzzle-tile-size;
    height: $puzzle-tile-size;
    text-align: center;
    font-size: rem-calc(32);
    line-height: $puzzle-tile-size;
    background: $puzzle-item-bg;
    border-radius: $puzzle-radius;
    position: absolute;
    left: rem-calc(10);
    top: 0;
    margin-left: $puzzle-padding;
    margin-top: $puzzle-padding;

    transition-property: transform, margin;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-method;

    &.is-4 {
        background: $puzzle-is-4-bg;
    }

    &.is-8 {
        background: $puzzle-is-8-bg;
    }

    &.is-16 {
        background: $puzzle-is-16-bg;
    }

    &.is-32 {
        background: $puzzle-is-32-bg;
    }

    &.is-64 {
        background: $puzzle-is-64-bg;
    }

    &.is-128 {
        background: $puzzle-is-128-bg;
    }

    &.is-256 {
        background: $puzzle-is-256-bg;
        color: $base-white;
    }

    &.is-512 {
        background: $puzzle-is-512-bg;
        color: $base-white;
    }

    &.is-1024 {
        background: $puzzle-is-1024-bg;
        color: $base-white;
    }

    &.is-2048 {
        background: $puzzle-is-2048-bg;
        color: $base-white;
    }


    // row 1
    &.a1 {
        transform: translate(0, 0);
        margin-left: 0;
        margin-top: 0;
    }

    &.b1 {
        margin-top: 0;
        transform: translate(100%, 0);
    }

    &.c1 {
        margin-top: 0;
        margin-left: $puzzle-padding * 2;
        transform: translate(200%, 0);
    }

    &.d1 {
        margin-top: 0;
        margin-left: $puzzle-padding * 3;
        transform: translate(300%, 0);
    }

    // row 2
    &.a2 {
        transform: translate(0, 100%);
        margin-left: 0;
    }

    &.b2 {
        transform: translate(100%, 100%);
    }

    &.c2 {
        margin-left: $puzzle-padding * 2;
        transform: translate(200%, 100%);
    }

    &.d2 {
        margin-left: $puzzle-padding * 3;
        transform: translate(300%, 100%);
    }

    // row 3
    &.a3 {
        margin-top: $puzzle-padding * 2;
        transform: translate(0, 200%);
        margin-left: 0;
    }

    &.b3 {
        margin-top: $puzzle-padding * 2;
        transform: translate(100%, 200%);
    }

    &.c3 {
        margin-top: $puzzle-padding * 2;
        margin-left: $puzzle-padding * 2;
        transform: translate(200%, 200%);
    }

    &.d3 {
        margin-top: $puzzle-padding * 2;
        margin-left: $puzzle-padding * 3;
        transform: translate(300%, 200%);
    }

    // row 4
    &.a4 {
        margin-top: $puzzle-padding * 3;
        transform: translate(0, 300%);
        margin-left: 0;
    }

    &.b4 {
        margin-top: $puzzle-padding * 3;
        transform: translate(100%, 300%);
    }

    &.c4 {
        margin-top: $puzzle-padding * 3;
        margin-left: $puzzle-padding * 2;
        transform: translate(200%, 300%);
    }

    &.d4 {
        margin-top: $puzzle-padding * 3;
        margin-left: $puzzle-padding * 3;
        transform: translate(300%, 300%);
    }
}

.puzzle--game--instruction {
    padding-top: rem-calc(40);
    text-align: center;
    color: #777;
}
