@charset "UTF-8";

@import "reset";
@import url(http://fonts.googleapis.com/css?family=Roboto);

// font
$base-font-family: 'Roboto', sans-serif !default;

// colors
$base-primary             : #363636 !default;
$base-white               : #ffffff !default;
$base-black               : #000000 !default;
$color-primary            : #d81e04 !default;

body {
    font-family: $base-font-family;
    color: $base-primary;
}

a {
    color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
    padding: rem-calc(20) 0;
}

h1 {
    font-size: rem-calc(38);
}

small {
    font-size: 75%;
}
